*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1000px;
    height: 70px;
    /* background-color: aliceblue transparent; */
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.container a {
    text-decoration: none;
    color: black;

    padding: 10px;
}
.section-heading {
    width: 1000px;
    height: 600px;
    margin: auto;
    
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading {
    width: 400px;
    height: 450px;
    text-align: justify;
    margin-left: 80px;
    
}
img#telephone {
    padding-top: 100px;
}

.h-div {
    width: 1000px;
    height: 50px;
    text-align: center;
    
    padding: 10px;
    margin: 40px auto;
}
.gallery-div {
    width: 1000px;
    
    margin: 10px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
footer {
    width: 1000px;
    height: 50px;
    background-color: blanchedalmond;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}